body {
  font-size: 18px;
  color: #555;
  font-family: 'Lato', sans-serif;
}
h1 {
  font-family: 'Boogaloo', cursive;
}

h2 {
  font-family: 'Boogaloo', cursive;
}

h3 {
  font-family: 'Boogaloo', cursive;
}

h4 {
  font-family: 'Boogaloo', cursive;
  padding-bottom: 2%;
}

h5 {
  font-family: 'Boogaloo', cursive;
}

.top-nav {
  background: rgb(102,178,178);
  color: white;
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: 'Boogaloo', cursive;

}

.top-social-links {
  padding-top: 2px;
  color: white;
}

.navigation {
  background-color: white;
  font-family: 'Boogaloo', cursive;
  font-size: 22px;
}

.navbar-logo {
 width: 70%;
 padding-top: 1.3%;
 padding-bottom: 1.3%;
}

.menu-button {
  border-radius: 20px;
  font-weight: 200;
} 

.donate-btn {
  border-radius: 20px;
  background-color: rgb(102,178,178);
  color: white;
}

#donate-btn {
  border-color: rgb(102,178,178);
  color: white;
}

.dropdown-menu {
  border: 1px solid white;
  color: #666;
}


.dropdown-item {
  font-size: 1.15em;
  color: #666;
}

.navbar-light .navbar-nav .nav-link {
  color: #666;
}

.nav-active {
  color: #666;
  font-size: 1.15em;
  text-decoration: underline;
  text-decoration-color: rgb(102,178,178);
}

a:hover {
 color: rgb(84, 186, 186);
 font-size: 1.2em;
}
.jumbotron-fluid {
  background: linear-gradient(transparent, 70%, rgb(255, 255, 255)), url(images/dog7.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 700px;
}


.welcome-text {
  color:rgb(102,178,178);
  font-family: 'Boogaloo', cursive;
  font-size: 80px;
}

.welcome-dog-photo {
  border-radius: 50%;
  max-height: 100%;
  max-width: 100%;
}

.card-text {
  font-weight: 100;
}

.card:hover{
  border-top: 5px solid rgb(102,178,178);
}

.btn-primary {
  background-color: rgba(128, 128, 128, 0.153);
  color: #444;
  border-color: white;
}

.home-page-container {
  background-color: rgba(128, 128, 128, 0.064);
  padding-bottom: 5rem;
}

.fa-calendar-alt{
  font-size: 6rem;
  color: rgb(102,178,178);
}

#footer {
  background: rgba(102, 178, 178, 0.701);
  color: white;
}

.footer-link-header {
  color: rgb(41, 99, 99);
}

.footer-link {
  color:white;
}

.footer-link:hover {
  color: rgb(41, 99, 99);
  text-decoration: none;
}

.footer-social-link{
  font-size: 25px;
  color: rgb(41, 99, 99);
}
.footer-copyright {
  background: rgb(102,178,178);
}

.copyright-link {
  color: white;
}

.copyright-link:hover {
  color: rgb(41, 99, 99);
  text-decoration: none;
}

.made-by-bh {
  color: rgba(255, 255, 255, 0.694);
  font-size: 17px;
}

.made-by-bh:hover {
  color: rgb(41, 99, 99);
  text-decoration: none;
}
}

/* Available Dogs */

.available-dogs-title {
  font-size: 60px;
  color: rgb(102,178,178);
}

.btn-link {
  color: rgb(102,178,178);
}

.btn-link:hover{
  color: rgb(102,178,178);
} 


/* Foster Page */

.foster-title {
  font-size: 60px;
  color: rgb(102,178,178);
}
.foster-dog-pic {
  border-radius: 50%;
  max-width: 100%;
  max-height: 100%;
}

.foster-testimonial {
  background: rgba(128, 128, 128, 0.060);
  border-radius: 10px;
  margin-bottom: 10px;
}

.foster-application {
  color: rgb(102,178,178);
}

.form-hr {
  border-bottom: 2px solid rgb(102,178,178);
}
/* Events Page */

.events-title {
  color: rgb(102,178,178);
  font-size: 60px;
}

/* About Us Page */

.team-div {
  background-color:rgba(128, 128, 128, 0.040);
}

.about-photo {
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 7%;
  border: 2px solid rgba(128, 128, 128, 0.502);
}

.about-card-body{
  border: 0px;
  margin-top: 10px;
}

.about-card-body:hover {
  border: 0px;
}

/* Contact Page */

.contact-form-subtitle {
  font-size: 1.4em;
}

/* Surrender Page */

.surrender-subtitle {
  font-size: 1.2em;
}

.surrender-line-height {
  line-height: 2em;
}

.a-tag {
  color: rgb(102,178,178);
}