

body {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

.top-nav {
  background: rgba(255, 166, 0, 0.701);
  color: white;
  font-size: 16px;
  padding-bottom: 0%;
  padding-top: 10px;
}

.top-social-links {
  padding-top: 1.3px;
}

.navigation {
  background-color: white;
}

.navbar-logo {
 width: 80%;
}

.menu-button {
  border-radius: 20px;
} 

.nav-link {
  color: purple; 
}

.nav-link a:hover {
  color: white;
  border-bottom: 1px solid #F1962E;
}

.donate-btn {
  border-radius: 20px;
  background-color: rgba(255, 166, 0, 0.701);
  color: white;
}

#donate-btn {
  border-color: rgba(255, 166, 0, 0.701);
  color: white;
}

.dropdown-menu {
  border: 1px solid white;
}

.jumbotron {
  background-image: url(images/dog7.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 900px;
  color: white;
}
.carousel-item {
  width: 100%;
  height: 100%;
}

#footer {
  background: rgba(255, 166, 0, 0.701);
  color: white;
}

.footer-link {
  color:rgba(255, 255, 255, 0.728);
}
.footer-copyright {
  background: orange;
}

.copyright-link {
  color: rgba(255, 255, 255, 0.728);
}

/* Foster Page */

.foster-dog-pic {
  border-radius: 50%;
  width: 100%;
  height: 100%;

}