
body {
  font-size: 18px;
  font-family: 'Bitter', serif;
}

.top-nav {
  background-color: orange;
  color:white;
  font-size: 16px;
  padding-bottom: 0px;
  padding-top: 10px;
}

.fa-facebook-f {
  padding-top: 1.3px;
}

.navigation {
  background-color: white;
}

.navbar-logo {
 width: 80%;
}

.nav-link {
  color: purple; 
}

.nav-link a:hover {
  color: white;
  border-bottom: 1px solid orange;
}

.donate-btn {
  border-radius: 20px;
  border-color: orange;
  background-color: rgb(255, 166, 0);
}

#donate-btn {
  color: white;
}

.dropdown-menu {
  border: 1px solid white;
}
.carousel-item {
  width: 100%;
  height: 100%;
}

#footer {
  background: rgba(255, 166, 0, 0.701);
  color: white;
}

.footer-link {
  color:rgba(255, 255, 255, 0.728);
}
.footer-copyright {
  background: orange;
}

.copyright-link {
  color: rgba(255, 255, 255, 0.728);
}
